@font-face{
    font-family: 'roboto-black';
    src: url(../font/Roboto-Black.ttf);
}

@font-face{
    font-family: 'roboto-bold';
    src: url(../font/Roboto-Bold.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'roboto-black';
    background-color: rgb(17, 17, 17);
    color: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.general-container{
    background-color: rgb(38, 38, 38);
    width: 1000px;
    height: 90vh;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-title{
    padding: 20px;
}

.new-task,
.filters{
    background-color: rgb(50, 50, 50);
    width: 90%;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}

.title-new-ask{
    grid-area: title;
}

#container-description{
    grid-area: container-description;
}

#container-estados{
    grid-area: container-estados;
}

.new-task{
    margin-bottom: 20px;
}

.container-estados,
.container-description,
.container-filters,
.container-fecha{
    display: flex;
}


label{
    color: rgb(216, 216, 216);
    display: flex;
    align-self: center;
}

#description,
#status,
#selector-filtro-estados,
#selector-fecha,
#estado-de-tarea{
    color: rgb(216, 216, 216);

    margin-left: 10px;
    border-radius: 3px;
    border: rgb(70, 70, 70) solid 2px;
    background-color: rgb(50, 50, 50);
    cursor: pointer;
}

#description{
    font-size: 1em;
    padding: 3px;
}

#status,
#selector-filtro-estados,
#selector-fecha,
#estado-de-tarea{
    font-size: 1em;
    padding: 5px;
}

#description:focus,
#status:focus,
#selector-filtro-estados:focus,
#selector-fecha:focus,
#estado-de-tarea:focus{
    outline: none;
    border: solid 2px rgb(120, 120, 120);
}

#selector-fecha{
    max-height: 35px;
}


button{
    grid-area: button;
    color: white;
    font-size: 1em;
    background-color: rgb(70, 70, 70);
    border: white solid 1px;
    padding: 5px 25px;
}

button:hover{
    cursor: pointer;
    border: rgb(0, 255, 0) solid 1px;
}

button:active{
    color: rgb(0, 255, 0);
    background-color: rgb(100, 100, 100);
}


.all-tasks{
    width: 90%;
    border-radius: 5px;
    margin: 40px;
}

.task{
    border: solid 1px rgb(70, 70, 70);
    border-radius: 5px;
    width: 100%;
    height: 90px;
    padding: 15px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    position: relative;
    transition: all .5s;
}

.task:hover{
    background-color: rgb(50, 50, 50);
    border: yellow solid 1px;
    transform: scale(1.05);
}

.first-row,
.second-row{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

h4,
img,
.texto-descriptivo,
.selector-estado-de-tarea{
    position: absolute;
}

h4{
    top: 15px;
    left: 15px;
    font-size: 1.2em;
}

img{
    top: 15px;
    right: 20px;
}

.texto-descriptivo{
    max-width: 500px;
    word-wrap: break-word;
    bottom: 15px;
    left: 15px;
    font-size: .8em;
}

.selector-estado-de-tarea{
    display: flex;
    right: 20px;
    bottom: 15px;
}

img{
    width: 15px;
    height: 15px;
    cursor: pointer;
}

@media only screen and (max-width: 900px) {
    body{
        background-color: rgb(38, 38, 38);
    }

    .general-container{
        min-width: 100%;
        min-height: 100%;
        width: 100%;
        border-radius: 0;
    }

    .new-task,
    .filters{
        display: grid;
        row-gap: 20px;
    }
    
    .new-task{
        grid-template-areas:"title title"
        "container-description container-estados"
        "button button";
    }
    
    .filters{
        grid-template-areas: 
                        "title-filter title-filter"
                        "contenedor-filtros contenedor-fecha";
    }

    .title-new-ask{
        text-align: center;
    }

    .title-filters{
        grid-area: title-filter;
        text-align: center;
        width: 100%;
    }

    .container-filters{
        grid-area: contenedor-filtros;
    }

    .container-fecha{
        grid-area: contenedor-fecha;
    }

    .container-estados{
        justify-self: start;
    }

    .filters label {
        margin-left: 15px;
    }

    .texto-descriptivo{
        width: 450px;
    }
}

@media only screen and (max-width: 600px) {
    .new-task{
        display: flex;
        flex-direction: column;
    }

    #description{
        width: 70%;
        min-width: 125px;
    }

    #status{
        margin-left: 45px;
    }

    .filters{
        grid-template-areas: 
                        "title-filter"
                        "contenedor-filtros"
                        "contenedor-fecha";
    }

    .task{
        height: 125px;
    }
    .texto-descriptivo{
        max-width: 200px;
    }
}

@media only screen and (max-width: 500px){
    .task{
        height: 200px;
    }

    .texto-descriptivo{
        top: 40%;
        max-width: 285px;
        margin-bottom: 50px;
    }

    .selector-estado-de-tarea{
        left: 22.5%;
    }

    img{
        width: 20px;
        height: 20px;
    }
    
}